* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #AA076B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
    width: 400px;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #61045F;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #61045F;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #61045F;
}

.ADE {
    background-color: #AA076B;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 100%;
}



.date-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.second-btn{
    margin-left: 0.5rem;
}

.third-btn{
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.fourth-btn{
    margin-left: 0.5rem;
}


.final-message-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}


.enroll-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.got-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

